.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Светлый фон */
}

.p-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px; /* Закругленные углы */
}

.p-field {
    margin-bottom: 1rem;
}